{% extends 'base.html' %}
{% load static %}
{% block title %}About Us | The Berry Patch  {% endblock %}

{% block content %}
<div class="container opac ">
    <div class="card border-0 shadow text-white rounded bg-dark">
      <div class="card-body p-5">
          <h1 class="display-4 nav-item-font">Organic, Family Owned, Kentucky Proud</h1>

      <p class="lead my-3">The Berry Patch is located in Fisherville, Kentucky right outside the Louisville Metro Area.
          Established in 2010, our family has called the farm our home. We offer quality organic produce you can stop by
          and pick it yourself, or you can order by request any of our produce via online order request.</p>
            <div class="text-center">
                <h3 class="nav-item-font">Pick Your Own Hours of Operation*</h3>
            </div>
              <table class="table table-bordered table-sm text-white text-center">
    <thead class="bg-secondary">
      <tr>
        <th>Day</th>
        <th>Open</th>
        <th>Close</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td><strong>Sunday</strong></td>
        <td>CLOSED</td>
        <td>CLOSED</td>
      </tr>
      <tr>
          <td><strong>Monday</strong></td>
        <td>9:00 am</td>
        <td>5:00 pm</td>
      </tr>
      <tr>
          <td><strong>Tuesday</strong></td>
        <td>9:00 am</td>
        <td>5:00 pm</td>
      </tr>
      <tr>
          <td><strong>Wednesday</strong></td>
        <td>9:00 am</td>
        <td>5:00 pm</td>
      </tr>
      <tr>
          <td><strong>Thursday</strong></td>
        <td>9:00 am</td>
        <td>5:00 pm</td>
      </tr>
      <tr>
          <td><strong>Friday</strong></td>
        <td>9:00 am</td>
        <td>5:00 pm</td>
      </tr>
      <tr>
        <td><strong>Saturday</strong></td>
        <td>CLOSED</td>
        <td>CLOSED</td>
      </tr>

    </tbody>
  </table>
            <em class="text-center">*- Note. Hours and produce available to pick may vary. If you are planning on stopping by, be sure to
                check current produce offering and prices on our goods page and feel free to contact us via our Contact
                Us page so we can confirm hours of operation the day of your visit.  </em>
</div>
  </div>

      </div>
    </div>
  </div>
{% endblock %}