{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >
    <title>{% block title %}Welcome!{% endblock %}</title> 
  </head>

<nav class="navbar navbar-expand-lg navbar-dark navbar-purple static-top shadow">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><span class="nav-item-font nav-item-color"><h2>The Berry Patch</h2></span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <div class="collapse navbar-collapse me-auto" id="navbarSupportedContent">
          <ul class=" nav navbar-nav me-auto mb-2 mb-lg-0 justify-content-end">
          <li class="nav-item">
            <a class="nav-link nav-med nav-item-font text-white" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-med nav-item-font text-white" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-med nav-item-font text-white" href="{% url 'goods' %}">Goods</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-med nav-item-font text-white" href="{% url 'blog' %}">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-med nav-med nav-item-font text-white" href="{% url 'contact' %}">Contact</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
      

  
  <body>
      <br/>
      
    {% block content %}
    {% endblock %}


    <footer class="footer mt-auto py-3 m-3">
      <div class="container">  
      <center>
          <!-- <div class="btn-group mb-2">
   
            <button onclick="window.location.href='https://www.google.com';" type="button" class="btn btn-outline-dark">
                <i class="bi bi-facebook"></i>
              <span class="visually-hidden">Button</span>
            </button>
    
            <button onclick="window.location.href='https://www.google.com';" type="button" class="btn btn-outline-dark">
              <i class="bi bi-twitter"></i>
              <span class="visually-hidden">Button</span>
            </button>
    
            <button onclick="window.location.href='https://www.google.com';" type="button" class="btn btn-outline-dark">
              <i class="bi bi-linkedin"></i>
              <span class="visually-hidden">Button</span>
            </button>
    
            <button onclick="window.location.href='https://www.google.com';" type="button" class="btn btn-outline-dark">
              <i class="bi bi-youtube"></i>
              <span class="visually-hidden">Button</span>
            </button>
          </div>
          <br/> -->
          <p><small class="ft">&copy;{%now "Y"%} The Berry Patch - All Rights Reserved<br/> </small></p>
        </center> 
        </div
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>