{% extends 'base.html' %}
{% load static %}
{% block title %}Blog | See What's New! {% endblock %}

{% block content %}

<div class="container opac">
    <div class="card border-0 shadow my-5 text-white rounded bg-dark">
      <div class="card-body p-5">
        <div class="text-center">
          <h1 class="display-4 nav-item-font">The Berry Patch's Latest News...</h1>
         </div>
          {% if user.is_authenticated %}
              <div class="d-flex justify-content-center text-white rounded bg-dark border-secondary">
            <div class="card" style="width: 18rem;">
              <div class="card-header text-center text-white rounded bg-dark border-secondary">
                <strong>Admin Tools</strong>
              </div>
              <ul class="list-group list-group-flush text-white rounded bg-dark border-secondary">
                <li class="list-group-item text-center text-white rounded bg-dark border-secondary">
            <a href="{% url 'blog_post'%}" class="btn btn-success">Create New Post</a>
            </li>
              </ul>
            </div>
              </div>
              <br/>
        {% else %}
        {% endif %}

        <ul class="list-group list-group-flush">
        {% for post in object_list %}
            <div class="card shadow mb-3 p-1 text-white rounded bg-dark border-secondary">
  <div class="row g-0">
    <div class="col-md-4 ">
      <img class="img-thumbnail img-fluid" src="{{post.header_image.url }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title h2 nav-item-font">{{ post.title }}</h5>
        <p class="card-text">{{ post.tag }}</p>
        <p class="card-text align-text-bottom"><small class="text-muted align-text-bottom">Posted {{ post.post_date }}</small></p>
          <a href="{% url 'blog_detail' post.pk %}" class="btn btn-secondary">Read More</a>
      </div>
    </div>
  </div>
</div>
{#            #}
{#          <li class="list-group-item">#}
{#            <a class="link-dark" href="{% url 'blog_detail' post.pk %}"><span class="nav-item-font h3">{{ post.title}}</span></a>  <br/> <small><em>{{post.post_date}}</em></small> <p class="lead">{{post.tag}}</p> #}
{#          </li>#}
        {% empty %}
        <div class="text-center">
            <em>There are currently no posts...</em>
            </div>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}