{% extends 'base.html' %}
{% load static %}
{% block title %}The Berry Patch | {{post.title}} {% endblock %}

{% block content %}
<div class="container opac">
    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">
        <p class="h1 nav-item-font">{{post.title}}</p>
       <p><em><small>{{post.author.first_name}} - {{post.post_date}}</small></em></p>
        {% if post.header_image %}

         <div class="text-center">
        <img src="{{post.header_image.url }}" class="img-fluid">
        </div>
        {% endif %}
        <p class="lead">{{post.body | safe }}</p>
        {% if user.is_authenticated %}
        <div class="text-center">
        <br/>
        <br/>
        <a href="{% url 'update_post' post.pk %}"> <button class="btn btn-warning">EDIT</button></a>
        <a href="{% url 'delete_post' post.pk %}"> <button class="btn btn-danger">DELETE</button></a>  
        </div>
        {% else %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}