{% extends 'base.html' %}
{% load static %}
{% block title %}Blog | See What's New! {% endblock %}

{% block content %}
<div class="container opac">
    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">
        <center>
          <h1 class="nav-item-font">The Berry Patch's Latest News...</h1>
          {% if user.is_authenticated %}
          <a href="{% url 'blog_post'%}" class="btn btn-success">Create New Post</a>   
        </center>
        <br/>
        {% else %}
        {% endif %}

        <ul class="list-group list-group-flush">
        {% for post in object_list %}
          <li class="list-group-item">
            <a class="link-dark" href="{% url 'blog_detail' post.pk %}"><span class="nav-item-font h3">{{ post.title}}</span></a>  <br/> <small><em>{{post.post_date}}</em></small> <p class="lead">{{post.tag}}</p> 
          </li>
        {% empty %}
        <center><em>There are currently no posts...</em></center>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}