{% extends 'base.html' %}
{% load static %}
{% block title %}Products | The Berry Patch  {% endblock %}

{% block content %}
<div class="container">
    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">
        <h1 class="nav-item-font">Goods, Services, and Produce</h1>
        <p>{% lorem 1 b random %} </p>
        <p>{% lorem 4 b random %} </p>
        <p>Interested in stopping by or placing an order?</p>
        <a href="{% url 'contact' %}" class="btn btn-secondary">Contact Us</a>
      </div>
    </div>
  </div>
{% endblock %}